@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1790525946503') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\9";
}

.icon-shouye1:before {
  content: "\e603";
}

.icon-shouye2:before {
  content: "\e628";
}

.icon-shouye3:before {
  content: "\e73d";
}

.icon-music:before {
  content: "\e63d";
}

