@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1790604664409') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paihang:before {
  content: "\e607";
}

.icon-1_music72:before {
  content: "\e6ac";
}

.icon-tubiaozhuanqu-18:before {
  content: "\e644";
}

.icon-a-xiaofeipaihang2x:before {
  content: "\e602";
}

.icon-cancel:before {
  content: "\e76c";
}

.icon-favoriteslist:before {
  content: "\e76d";
}

.icon-nickname:before {
  content: "\e76e";
}

.icon-mark:before {
  content: "\e76f";
}

.icon-playlist:before {
  content: "\e770";
}

.icon-search:before {
  content: "\e771";
}

.icon-caidan:before {
  content: "\e778";
}

